#app-container {
  height: 100vh;
  width: 100%;
  display: flex;
}

#hamburger-icon {
  position:absolute;
  left: 260px;
  top: 10px;
  z-index: 99999;
}

#hamburger-button {
  padding: 5px 10px 5px 10px;
  z-index: 99999;
}

#sidebar {
  height: calc(100vh - 20px);
  width: 280px;
  border: 4px solid grey;
  position: left;
  padding: 10px;
  text-align: center;
}

.sidebar-hidden {
  position: fixed;
  left: -350px;
  z-index: 99999;
}

.hamburger-hidden {
  left: 360px !important;
  z-index: 99999;
}

#show-hide {
  position: absolute;
  z-index: 9999;
  left: 50%;
}

.hide {
  top: -25px;
}

.hide-buttons{
  text-align: center;
}

#center-map {
  z-index: 9999;
  position: absolute;
  left: 93%;
  width: 60px;
}

#map-container {
  height: 100vh;
  width: 80%;
  border: 4px solid green;
  position: right;
  display: flex;
  z-index: 700;
}

#map-wrap{
  display: flex;
  flex: auto;
  z-index: 700;
}

#map {
  flex: auto;
  height: auto;
  z-index: 700;
}

.map-container-full {
  width: 100% !important;
}

#locations-list {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.restaurant-container {
  border: dotted 3px orange;
  margin: 2px;
}

.restaurant-container, list-item *:hover {
  color: blue;
  cursor: pointer;
}

.gm-style-iw {

}
