#app-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

button {
  background-color: #ffb4b5;
  border: solid 1px black;
  border-radius: 10px;
  color: #333333;
}

#header-banner {
  font-family: verdana;
  border: 3px black groove;
  border-radius: 0 50px 0 0 ;
  background-color: #ffa64d;
  width: 100%;
  height: auto;
  z-index: 99999;
  color: #333333;
}

#header-inner {
  margin: 0;
  height: auto;
}

#header-font {
  text-align: center;
}

#hamburger-icon {
  z-index: 9999;
}

#hamburger-button {
  padding: 5px 10px 5px 10px;
  z-index: 9999;
}

.hamburger-hidden {
  position: absolute;
  left: 510px !important;
  top: 100px;
}

#sidebar {
  border: 4px solid #4ea5ff;
  background-color: #9accff;
  position: left;
  padding: 10px;
  text-align: center;
  width: 20%;
  height: 90%;
  overflow: hidden;
}

#sidebar-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 25px;
  padding-left: 10px;
  box-sizing: content-box;
  z-index: 9999;
}

.sidebar-inner-hidden {
}

.sidebar-filter, .sidebar-nearby {
  border-style: inset;
  border-radius: 5px;
  box-shadow: 2px 2px grey;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  font-family: verdana;
  color: #333333;
}

.sidebar-filter {
  background-color: #e7f3ff;
  border-color: #81c3ff;
}

#search-field {
  background: #f4fff8;
  width: 80%;
  height: 20px;
}

.sidebar-nearby {
  background-color: #ffd8b4;
}

.sidebar-headings > h2 {
  padding: 10px;
  margin: 0;
}

.sidebar-hidden {
  position: fixed;
  left: -500px;
  z-index: 9999;
}

#locations-list {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.restaurant-container {
  border: dashed 3px orange;
  border-radius: 0 30px 0 0;
  background-color: #ffffcd;
  margin: 10px;
  padding: 10px 0 10px 0;
}

.list-item:hover {
  color: red;
  cursor: pointer;
}

.list-item {
  margin: 10px;
}

.restaurant-selected {
  border: solid 4px orange;
  background-color: #ffffb4;
}

.info-button {
  margin-left: 30px;
}

.info-button:hover {
  cursor: help;
  background-color: orange;
}

.button-span {
}

#show-hide {
  position: absolute;
  z-index: 9999;
  left: 50%;
  align-items: center;
}

#show-hide-button:hover {
  cursor: crosshair;
  background-color: orange;
}

.hide {
  top: 60px;
}

#hide-buttons:hover {
  cursor: crosshair;
  background-color: orange;
}

#center-map {
  z-index: 9999;
  position: absolute;
  left: 93%;
  width: 60px;
}

#center-map:hover {
  cursor: move;
  background-color: orange;
}

#map-container {
  border: 4px solid green;
  position: right;
  display: flex;
  z-index: 700;
  flex: 3;
}

#map-wrap{
  display: flex;
  flex: auto;
  z-index: 700;
}

#map {
  flex: auto;
  height: auto;
  z-index: 700;
}

.map-container-full {
  width: 100% !important;
  height: 100%;
}

.gm-style-iw {
}

.infowindow-styler {
}

.infowindow-content {
  display: flex;
  margin-left: 10px;
}

.inner-infowindow {
}

#img-container {
  width: auto;
  margin-top: 30px;
  text-align: center;
}

#restaurant-img {
  flex: auto;
  max-width: 200px;
  width: auto;
  height: auto;
}
